.project-section {
  background: #000;
  padding: 120px 0;
  color: white;
}

.project-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Header */
.project-header {
  text-align: center;
  max-width: 800px;
  margin: auto;
  position: relative;
  margin-bottom: 80px;
}

.project-header h1 {
  font-size: 64px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.bg-title {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 140px;
  font-weight: 800;
  color: rgba(255,255,255,0.05);
  z-index: 1;
  pointer-events: none;
}

.project-header p {
  color: #aaa;
  margin-top: 20px;
  line-height: 1.7;
}

/* Cards */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.project-card {
  padding: 10px;
  border-radius: 16px;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(255,193,7,0.15);
}
.project-card .img-style{
  width: 100%;
  height: 200px;
}
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card h3 {
  color:  white;
  margin: 15px 0 10px;
}

.project-card h5 {
  letter-spacing: 2px;
  color: #aaa;
  font-size: 12px;
}

.project-card p {
  margin-top: 20px;
  color: #bbb;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 900px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
  .bg-title {
    font-size: 90px;
  }

  .project-header h1 {
    font-size: 48px;
  }
}

/* Download Button Center */
.project-btn-wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}


