.about-section {
  background: #000;
  min-height: 100vh;
  padding: 100px 0;
  color: white;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

/* Image */
.about-image img {
  width: 100%;
  max-height: 700px;
  object-fit: contain;
}

/* Title */
.title-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.title-wrapper h1 {
  font-size: 64px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.bg-text {
  position: absolute;
  top: -40px;
  left: -10px;
  font-size: 120px;
  font-weight: 800;
  color: rgba(255,255,255,0.08);
  z-index: 1;
}

/* Description */
.about-desc {
  color: #aaa;
  max-width: 500px;
  margin-bottom: 30px;
}

/* Info grid */
.about-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 40px;
  margin-bottom: 40px;
}

.about-info strong {
  color: white;
  margin-right: 5px;
}

/* Footer */
.about-footer h3 {
  margin-bottom: 20px;
}

.about-footer span {
  color: #ffc107;
  font-size: 32px;
}

.btn-download {
  background: #ffc107;
  border: none;
  padding: 16px 48px;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-download:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255,193,7,0.3);
}

/* Responsive */
@media (max-width: 900px) {
  .about-container {
    /* grid-template-columns: 1fr; */
    display: flex;
    justify-content: center;
  }

  .about-info {
    grid-template-columns: 1fr;
  }
   .about-image{
    display: none;
   }
  .bg-text {
    font-size: 80px;
    left: 50%;
    transform: translateX(-50%);
  }
}
