:root {
  --font-primary: 'Poppins', Arial, sans-serif;
  --white: #fff;
  --black: #000000;
  --darken: #232931;
  --primary: #ffbd39 !important;
  --secondary: #a0f669;
}

.custom-navbar {
  background: black;
  padding: 12px 0;
}

.navbar-brand {
  color: #fff !important;
  letter-spacing: 1px;
}

.nav-link {
  color: #ddd !important;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
  font-size: 1rem;
}

/* Hover underline animation */
.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ffc107;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #fff !important;
}

.nav-link.active {
  color: #ffc107 !important;
}

/* Mobile menu background */
@media (max-width: 991px) {
  .navbar-collapse {
    padding: 20px;
    border-radius: 12px;
    margin-top: 10px;
  }
  .navbar{
    padding:0 5px;
  }
}

html {
  scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
  padding: 100px 20px;
}
.btn-menu{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}